body {
    font-family: 'Tajawal', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.mw {
    max-width: 1300px;
    margin: 0 auto;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor {
    cursor:pointer;
}
$clr : #6000a9;
$trans : all .5s ease;
.FooterLink {
    color : #0000ee;

    cursor:pointer;
    width:fit-content;
    text-decoration: underline;
}
.links {
    h1 {
        color: #000000c7
    }
}
.clr {
    color : $clr;
}
.btn {
    // color:black;
    min-width:168px ;
    
    font-weight: 600;
    padding: .5em 2.5em;
    transition: $trans;

   border:1px solid transparent;
    border-radius: 0;
}
.PC {
    img {
        height:235px;
    }
}
.b1 {
    color : white;
    border:1px solid $clr;
    background:$clr;
    &:hover {
        color : $clr;
    }
}
.b2 {
    color : $clr;
    border-color: $clr;
}
.img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

.close-btn{
    svg {
        transition: all .2s ease-in; 
    }
}
.menu-links {
    flex-direction: column;
         p {
    transition : $trans;
            
            font-size: 3em;
            padding :  .175em 0;
            font-weight: 800;
            cursor:pointer;
            color:white;
            &:hover {
                color : $clr;
            }
         }
}
.phn {
    color : rgb(204, 204, 204)
}
.fb {
    color : #4771c4;
}
.ins {
    color :#C13584
}
.wts {
    color : #25D366
}
.menu-bg {
    background-image: url('https://res.cloudinary.com/dwcu3wcol/image/upload/v1666711311/pexels-photo-1092644_yceep8.webp');
    background-size:cover;

}
.t1 {
    span {
        opacity: 0 ;
    }
}
.absolute {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.menu-color {
    z-index: 0;
    background:#6000a9e6;
    
}
.dash {
    &:after {
        content:'';
        width:'10px';
        height:'2px';
        background: black;
        top:50%;
        right:0%;
    }
}
.dotted {
    background: #ffffff00;
    background-size: 36px 32px;
    background-position: -16px -55px;
    position: absolute;
    bottom: -1%;
    z-index: 5;
    width: 150px;
    height: 150px;
}
.h1 {
    font-size: 2.5em;
    font-weight: 700;
}
.style-box {
    background: white;
    position: absolute;
    z-index: -1;
    top: 75%;

    width:100px;
    height:100px;
    border: 6px solid #6000a9;      

}

.reason-icon {
    display:flex;
    justify-content: center;
    align-items: baseline;
    margin : 0 1em; 
    img {
        height:100%;
        width : 55px;

    }
}
.drrtl {
    direction: rtl;
}

.list {
    ul {
      
        li {
            p {
                color : #000000a3;
            }
        }
    }
}
@media (max-width:568px) {
        .btn {
            width: 95% !important;
        }
}